<h1>Editing Twentyfortyeight Game</h1>

<%= render 'form', twentyfortyeight_game: @twentyfortyeight_game %>

<%= link_to 'Show', @twentyfortyeight_game %> |
<%= link_to 'Back', twentyfortyeight_games_path %>
