<!-- <h1>New Twentyfortyeight Game</h1>

<%= render 'form', twentyfortyeight_game: @twentyfortyeight_game %>

<%= link_to 'Back', twentyfortyeight_games_path %> -->

<h1>2048</h1>
<div id="game-show">
  <table id="game-show-board">
    <tbody class="table">

    </tbody>
  </table>
</div>
