<p id="notice"><%= notice %></p>

<p>
  <strong>Moves:</strong>
  <%= @twentyfortyeight_game.moves %>
</p>

<%= link_to 'Edit', edit_twentyfortyeight_game_path(@twentyfortyeight_game) %> |
<%= link_to 'Back', twentyfortyeight_games_path %>
