// Place all the styles related to the twentyfortyeight_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box {
  font-weight: bold;
  font-size: 32px;
  min-width: 40px;
  padding: 40px;
  min-height: 40px;
  margin: 5px;
  border-style: solid;
  border-color: red;
}
